@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lusitana:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lusitana', serif;
}

.font-secondary {
  font-family: 'Inria Serif', serif;
}

.body-background {
  background: #fff;
  background-image: linear-gradient(114.46deg, rgba(228, 158, 119, 0.5) 5.08%, rgba(228, 158, 119, 0.2) 98.04%);
}

.gradient-background {
  background: #fff;
  background-image: linear-gradient(114.46deg, rgba(228, 158, 119, 0.3) 5.08%, rgba(228, 158, 119, 0.2) 98.04%);
}

.shadow-bottomm {
  box-shadow: 0px 1px 16px 0px #0000001A;
}

.home-pill-button {
  background: linear-gradient(90.3deg, #F2D0BD 23.1%, rgba(242, 208, 189, 0.21) 99.28%);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}